div.a{
  text-align: center;
}
#cocaImg{
    float:left;    
}
#chipsImg{
    float: right;
}
 table, th,td{
    text-align: center;
     border: 1px solid black;
}
table {
   
    width:100%
}
button{
    float:  center;
}
#logo {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    float: left;
    
}
#imagenTienda{
    float: center;
}
#formacontra{
    text-align: left;
}

.marca-de-agua img {
    padding: 0;
    width: 20%;
    height: auto;
    opacity: 0.7;
    float: right;
}





